@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/*pag1*/
.pag1 {
  display: block; /*block hace visible*/
}

.pag2 {
  display: none; /*bloquea pag*/
}

html {
  background-image: url(/Imagenes/fondo1.png);
  background-attachment: fixed; /*fija el fondo*/
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

header {
  display: flex;
  justify-content: center;
}

#logo1 {
  width: 29%;
}

main div {
  background-color: rgba(0, 0, 0, 0.76);
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.description {
  width: auto;
  display: flex;
  justify-content: center;
}
p {
  width: 637px;
  font-family: Duru Sans;
  font-size: 20px;
  line-height: 22px;
  text-align: justify;
  color: #00ffc2;
  display: flex;
}

.container-img {
  margin-right: 80px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 300px;
}

.container-img :hover {
  transform: scale(1.1);
}

.container-img div {
  display: flex;
  justify-content: flex-end;
  flex: wrap;
}

#arrow {
  width: 10%;
  height: 10%;
  transform: rotate(40.89deg);
}

#btn-enter {
  width: 30%;
  transition: all 300ms;
  cursor: pointer;
}

#logo2 {
  width: 50%;
}


nav .allFilters {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 3vh;
}

.selectFilter {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #00001a;
  border-radius: 7px;
  color: white;
  padding: 8px;
  border: 2px solid #24ff00;
  width: 10vw;
  /*height: 40px;*/
  box-shadow: 0px 0px 15px #11b0c8;
}

#searchInput {
  background-image: url(/Imagenes/lupa.png);
  background-repeat: no-repeat;
  background-position: 2vh;
  background-position-x: 18vh;
  background-position-y: center;
  background-size: 4vh;
  outline: none;
}
body::-webkit-scrollbar {
  width: 10px;
  background: #00001a;
}
body::-webkit-scrollbar-track {
  background: #999966;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  background: #11b0c8;
  border-radius: 20px;
}

/*contenedor de tarjetas*/

.characterContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  height: 100%;
  margin-left: 12vw;
  background-color: #99999954;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 5vh;

}

.info-card {
  background-color: transparent;
  width: 180px;
  height: 220px;
  perspective: 1000px;
  margin-top: 20px;
}

.info-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.info-card:hover .info-card-inner {
  transform: rotateY(180deg);
}
.card,
.info-back-card {
  position: absolute;
  width: 95%;
  /*height: 100%;*/
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 7px;
  border: 2px solid #24ff00;
  background: #000033;
}

.card {
  display: flex;
  flex-direction: column;
  height: 220px;
}

.cardImage {
  height: 25vh;
  width: 100%;
  box-shadow: 0px 0px 50px #11b0c8;
  border-radius: 5px 5px 0px 0px; /*sup izq-sup der-inf der-inf izq*/
}
h3 {
  color: white;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.characterName{
  overflow: hidden;
}

.info-back-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: rotateY(180deg);
  position: relative;
  height: 220px;
  width: 100%;
}

.back-card-logo {
  height: 9vh;
  width: 90%;
  padding-top: 5px;
  padding-bottom: 12px;
}
.characterInfo {
  word-wrap: break-word;
}

.info-back-card p {
  height: auto;
  width: 10vw;
  font-size: 13px;
  line-height: 12px;
  word-wrap: break-word;
  display: flex;
  justify-content: left;
  padding-top: 0px;
  padding-bottom: -5px;
  color: rgb(145, 238, 226);
  font-family: "Work Sans", sans-serif;
  margin-block-start: -20px;
  writing-mode: horizontal-tb;
}

aside {
  display: flex;
  flex-direction:row ;
  min-height: auto;
  margin-left: 30px;
  margin-top: 22px;
  box-shadow: 0px 0px 25px #11b0c8;
  margin-right: 70px;
}

.gifs {
  width: 13vw;
  height: auto;
}

.btn-back{
  position: fixed; /*fijo en la pantalla*/
  bottom: 0;
  right:0;
  margin-right: -2.7vw;
  margin-bottom: -3.5vw;
  cursor: pointer;
}

#btnBack{
  width: 14vw;
}

.btn-back:hover {
  transform: scale(1.1);
}
